#movieItems {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: #000 1px solid;
  margin-bottom: 3em;
  padding: 0;
  text-align: left;
  background-color: whitesmoke;
}

#shadows-image {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: #000 1px solid;
  margin-bottom: 2em;
  padding: 0;
  margin-bottom: 0
}

#itemMeta {
  color: black;
}

#itemInfo {
  color: black;
}

